.featured {
    padding-top: 7rem;
}

.featured .main {
    border-radius: 6px;
    width: 70%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.featured .list {
    width: 30%;
}

.featured .item .bg-img {
    width: 40%;
    min-height: 92px;
    border-radius: 4px;
}

.featured .item .overview {
    width: 60%;
}

@media (max-width: 991px) {
    .featured .main, .featured .list {
        width: 100%;
    }

    .featured .item {
        width: 23%;
    }

    .featured .item .bg-img {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .featured .main {
        height: 300px;
    }

    .featured .item .bg-img {
        min-height: 80px;
    }
}

@media (max-width: 575px) {
    .featured .main {
        height: 50vw;
    }

    .featured .list .item {
        width: 48%;
    }

    .featured .item .bg-img {
        min-height: 25vw;
    }
}
