.featured {
    padding-top: 7rem;
}

.featured .main {
    border-radius: 6px;
    width: 70%;
    height: 400px;
    position: relative;
}

.featured .main .desc {
    position: absolute;
    bottom: 0;
}

.featured .main .desc .date {
    font-size: .8rem;
}

.featured .list {
    width: 30%;
}

.featured .item .bg-img {
    width: 160px;
    height: 100%;
    border-radius: 4px;
}
