:root {
    --primary-color: #4b6ac6;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.text-custom {
    color: var(--primary-color);
}

.bg-custom {
    background-color: var(--primary-color);
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.2);
}

.star {
    font-size: .6rem;
    color:	rgb(212,175,55);
}

.star-lg {
    font-size: .8rem;
    color:	rgb(212,175,55);
}

.header {
    background-color: white;
    z-index: 98;
}

.header .title {
    font-size: 1.75rem;
    font-weight: 500;
}

.header .title:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.header .link {
    font-size: .9rem;
    color: rgba(0,0,0,.7);
    cursor: pointer;
}

.header .link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.header .search-input {
    width: 200px;
}

.header .divider {
    height: 30px;
}

.header .dropdown {
    position: relative;
}

.header .dropdown .item {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-6px);
    border-radius: 0 0 6px 6px;
    transition: 300ms;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.header .dropdown:hover .item {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    background-color: white;
}

.header .dropdown-link {
    display: block;
    color: rgba(0,0,0,.7);
}

.header .dropdown-link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.header .btn-nav {
    border-radius: 4px;
}

.header .side-nav {
    width: 100%;
    height: 100vh;
    transition: 500ms;
    visibility: hidden;
    opacity: 0;
}

.header .side-nav.active {
    visibility: visible;
    opacity: 1;
}

.header .side-nav .content {
    background-color: white;
    width: 70%;
    max-width: 300px;
    position: absolute;
    right: -300px;
    height: 100%;
    transition: 500ms;
}

.header .side-nav.active .content {
    right: 0;
}

.film .item {
    width: 15%;
}

.film .item .bg-img {
    border-radius: 4px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.film .item .bg-img .icon {
    position: absolute;
    right: 0;
    padding: .2rem .8rem;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border-radius: 0 0 0 4px;
}

.film .item .title {
    font-size: 1.2rem;
}

html {
  font-size: .8rem;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    html {
        font-size: .9rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }

    .header .side-nav {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    .header .side-nav .content {
        right: -300px !important;
    }
}
