:root {
    --primary-color: #4b6ac6;
    --shadow: thin solid black;
}

.text-custom {
    color: var(--primary-color);
}

.bg-custom {
    background-color: var(--primary-color);
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,.2);
}

.star {
    font-size: .6rem;
    color:	rgb(212,175,55);
}

.film .item {
    width: 15%;
}

.film .item .bg-img {
    border-radius: 4px;
    height: 200px;
    position: relative;
}

.film .item .bg-img .icon {
    position: absolute;
    right: .7rem;
    top: .2rem;
}

.film .item .title {
    font-size: 1.2rem;
}
